@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,300;1,300&family=Roboto&display=swap');
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /* row-gap: 50px; */
    background-color:rgb(255, 255, 255);
    
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.hr{
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: rgb(201, 201, 201);
}
.hr1{
    width: 100%;
    height: 1px;

    background-color:  rgb(201, 201, 201);
}
/*navbarrrrrr style////////////////////////////////////////////*/


nav{
    background-color: rgb(25, 25, 79);
  
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
   

    padding: 20px 0px;

    justify-content: space-between;
    color: rgb(240, 237, 237);
    background-color:transparent;
   
   
   
}
.nav-list  ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.nav-list {
    width: 60%;
    display: flex;
  
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.nav .icon{
    display: none;
    font-size: 28px;
}


.nav button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
  

 
}
a{
    text-decoration: none;
    color:  rgb(240, 237, 237);
}
/* .pages-list{

    display: none;
    position: absolute;
        
    top: 70px;
    right: 500px;
    border-radius: 5px;
    width: 200px;
    
    

   
    z-index: 1;
    background-color: rgb(240, 237, 237);
    

}
.pages-list ul{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    list-style-type: none;

}
.pages-list ul li a{
    color: rgb(0, 0, 0);
} */

@media  screen and (max-width: 1200px) and (min-width:992px){
   
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        /* width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center; */
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
   

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        /* width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
         */
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
 
   

}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        /* width: 10%;
        display: flex;
        justify-content: center;
        align-items: center; */
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }

   

}
@media  screen and (max-width: 600px){

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
       background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        /* width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
         */
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
   
    a{ 
        color: #000;
    }



}

/*headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
.header{
    background-color: rgb(25, 25, 79);
    color: rgb(255, 255, 255);
    padding: 60px 0px;
}
.header-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.content{
    padding: 30px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
.content h2{
    font-size: 38px;
}
.content p{
    color: rgb(229, 224, 224);
    line-height: 26px;
}
.link{
    display: flex;
    column-gap: 16px;
    color: rgb(29, 186, 29);
    align-items: center;
}
.link a{
    color: rgb(29, 186, 29);
    font-weight: 700;
}
video{
    width: 40%;
    border-radius: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 100%;
        transition: width 1s;
        margin: auto;
    }



}
/*logosssssssssssssssssssssssssssss*/

.logos{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 70px 0px; */
}
.logo img{
    width: 80%;


}
.logo{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

@media  screen and (max-width: 1200px) and (min-width:992px){
    .logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        margin: auto;
    }
    .logo{
        width: 40%;
        margin: auto;
     
    }
}
@media  screen and (max-width: 992px) and (min-width:786px){
    .logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        margin: auto;
    }
    .logo{
        width: 40%;
        margin: auto;
     
    }

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        margin: auto;
    }
    .logo{
        width: 30%;
        margin: auto;
     
    }
    
}
@media  screen and (max-width: 600px){
    
.logos{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: auto;
}
.logo{
    width: 100%;
    margin: auto;
 
}

}
/*instructionsssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

.instructions{
    width: 80%;
    margin: auto;
    /* padding: 70px 0px 0px; */
}
.instruction-container{
    display: flex;
    justify-content: space-between;
}
.instruction{
    width: 30%;
    display: flex;
    column-gap: 16px;
}
.instruction-text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.instruction-text h4{
    font-size: 22px;
}
.instruction-text p{
    line-height: 26px;
}
.instruction img{
    height: 30px;
    width: 30px;
}

@media  screen and (max-width: 1200px) and (min-width:992px){
    .instruction-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .instruction{
        width: 45%;
        margin: auto;
    }

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .instruction-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .instruction{
        width: 45%;
        margin: auto;
    }


}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .instruction-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .instruction{
        width: 90%;
        margin: auto;
    }


    
}
@media  screen and (max-width: 600px){
    .instruction-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .instruction{
        width: 90%;
        margin: auto;
    }

}

/*Track your Progresssssssssssssssssssssssssss*/


.track{
   
    color: rgb(0, 0, 0);
    padding: 60px 0px;
}
.track-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.track-content{
    padding: 80px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    /* justify-content: center; */
}
.track-content h2{
    font-size: 32px;
}
.track-content p{
    color: rgb(165, 160, 160);
    line-height: 26px;
}
.track-link{
    display: flex;
    column-gap: 16px;
    color:rgb(47, 66, 233);
    align-items: center;
}
.track-link a{
    color:rgb(47, 66, 233);
    font-weight: 700;
}
.track img{
    width: 40%;
    border-radius: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 100%;
        transition: width 1s;
        margin: auto;
    }



}



/*Understand your vistorsssssssssssssss*/




.understand{
   
    color: rgb(0, 0, 0);
    /* padding: 60px 0px; */
}
.understand-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.understand-content{
    padding: 80px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    /* justify-content: center; */
}
.understand-content h2{
    font-size: 32px;
}
.understand-content p{
    color: rgb(165, 160, 160);
    line-height: 26px;
}
.understand-link{
    display: flex;

    column-gap: 16px;

    color:rgb(47, 66, 233);
    align-items: center;
}
.understand-link a{
    color:rgb(47, 66, 233);
    font-weight: 700;
}
.understand img{
    width: 40%;
    border-radius: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
        padding: 0px;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
        padding: 0px;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }


   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
        padding: 0px;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
        padding: 0px;
    } 
    .understand img{
        width: 100%;
        transition: width 1s;
    }



}


/*make your customer happyyyyyyyyyyyyyyyyyyyyyy*/





.make{
   
    color: rgb(0, 0, 0);
    /* padding: 60px 0px; */
}
.make-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.make-content{
    padding: 80px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    /* justify-content: center; */
}
.make-content h2{
    font-size: 32px;
}
.make-content p{
    color: rgb(165, 160, 160);
    line-height: 26px;
}
.make-link{
    display: flex;
    column-gap: 16px;
    color:rgb(47, 66, 233);
    align-items: center;
}
.make-link a{
    color:rgb(47, 66, 233);
    font-weight: 700;
}
.imgs-container{
    width: 40%;
    border-radius: 10px;
    display: flex;
}
.img1{
    width: 95%;
    
    border-radius: 10px;
}
.img2{
    width: 95%;
  
    height: 300px;
    border-radius: 10px;
}
.inner-imgs{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.inner-imgs:nth-child(1){
    margin-top: 30px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;

    } 
    .imgs-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    .inner-imgs{
        width: 100%;
       
        transition: width 1s;
    }
    .img1{
        width: 100%;
    }
    .img2{
        width: 100%;
    }
    


}


/*pricing and planssssssssssssssssssssssssssssssssssssss*/
.pricing{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.pricing-header{
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    text-align: center;
}
.head{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 28px;
}
.monthly{
    width: 80px;
    height: 40px;
    background-color: rgb(184, 179, 179);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
.yearly{
    width: 90px;
    height: 35px;
    background-color: rgb(220, 220, 238);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(77, 77, 184);
    font-weight: 700;
}
.dot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.pricing-header h2{
    font-size: 32px;
}
.pricing-container{
    display: flex;
    justify-content:center;
    column-gap: 32px;
}
.pricing-card{
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
.pricing-card ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.pricing-card small{
    color:  rgb(47, 66, 233);
    font-size: 16px;
}
.pricing-card span{
    font-size: 32px;
    font-weight: 700;
}
.pricing-card button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
}
.pricing-card button:hover{
    background-color: rgb(159, 159, 210);
    color:  rgb(47, 66, 233);
}
.pricing-card li{
    display: flex;
    column-gap: 12px;
}
.pricing-card li i{
    font-size: 18px;

    color: rgb(69, 218, 69);
}
@media  screen and (max-width: 1200px) and (min-width:992px){
  

    .pricing-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
     }
   
    
}
@media  screen and (max-width: 992px) and (min-width:786px){
    .pricing-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
     }
     .pricing-card{
        width: 45%;
        
     }
    

}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .pricing-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
     }
     .pricing-card{
        width: 70%;
        margin: auto;
        transition: width 1s;
     }
     
     /* .pricing-card button{
        width: 90%;
     } */
    
}
@media  screen and (max-width: 600px){
 .pricing-container{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
 }
 .pricing-card{
    width: 90%;
    margin: auto;
    transition: width 2s;
 }
 .pricing-card button{
    width: 90%;
    transition: width 1s;
 }
 .offer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
 }
}



/*feed backkkkkkkkkkkkkkkkkkkkkkki*/

.feedback-container{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 70px;
}

.feedback{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.feedback-text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.feedback-text h4{
    font-size: 22px;
}
.feedback-text p{
    line-height: 26px;
    font-weight: 700;
}
.feedback img{
    height: 30px;
    width: 30px;
}

@media  screen and (max-width: 1200px) and (min-width:992px){
    .feedback-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .feedback{
        width: 45%;
        margin: auto;
    }

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .feedback-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .feedback{
        width: 90%;
        margin: auto;
    }


    

}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .feedback-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .feedback{
        width: 90%;
        margin: auto;
    }


    
}
@media  screen and (max-width: 600px){
    .feedback-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .feedback{
        width: 90%;
        margin: auto;
    }

}


/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
footer{
    
    color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 33);
    padding: 20px 0px;
    font-size: 12px;
    margin: auto;
  
    width: 100%;
    padding: 70px 0px 0px;




}

.links{

    display: flex;

    width: 80%;
    margin: auto;
    padding-bottom: 70px;
    /* justify-content: center; */

}
.link-list ul{
    list-style-type: none;
    
}
.link-list ul li{
    line-height: 30px;
    font-size: 14px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.link-list li:first-child{

    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    

}
.link-list{
    width: 18%;
}
.link-list ul li i{
    font-size: 16px;

}


@media  screen and (max-width: 1200px) and (min-width:992px) {

}
@media  screen and (max-width: 992px) and (min-width:786px) {
 
    footer .links{
        display: flex;
        flex-direction: row;
     
        flex-wrap: wrap;
        row-gap: 32px;
        /* justify-content: space-between; */
      }
     
      .link-list{
        text-align: center;
        width: 32%;
    
        
       
      
        
      }
}
@media  screen and (max-width: 786px) and (min-width:600px) {
  
  footer .links{
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
  }
 
  .link-list{
    text-align: center;
    width: 45%;

    
   
  
    
  }
 
}
@media  screen and (max-width: 600px){
  
    footer .links{
        display: flex;
        flex-direction: row;
     
        flex-wrap: wrap;
        row-gap: 32px;
        justify-content: space-between;
    
      }
     
      .link-list{
        text-align: center;
        width: 45%;
    
        
       
      
        
      }
     

  
}

/*copy rightssssssssssssssssssssssssssssssssssssssssssssssssss*/
.copy-rights{
    background-color: rgb(17, 17, 33);
    font-size: 13px;
    color: rgb(255, 255, 255);
  
}
.copy-rights-container{
    display: flex;
    
    margin: auto;
    padding: 15px 0px;
    width: 80%;
    justify-content: space-between;
}
.social-icons{
    display: flex;
    column-gap: 10px;
   
    
}
.social-icons i{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.social-icons i:nth-child(2){
    color: blue;
}
.copy-rights-container p{
    display: flex;
    align-items: center;
}
span{
    margin-right: 10px;
    font-size: 20px;
}
@media  screen and (max-width: 1200px) and (min-width:992px) {

}
@media  screen and (max-width: 992px) and (min-width:786px) {

    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
        
    }
    .social-icons{
        justify-content: center;
    }
    .copy-rights{
        font-size: 16px;
    }
 

  
}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
    .copy-rights{
        font-size: 16px;
    }
 
  

}
@media  screen and (max-width: 600px){
  
    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
   
 
  
}








.display-block {
    display: block;
}