@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto&display=swap');

*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /* row-gap: 50px; */
    background-color:rgb(255, 255, 255);
    
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.hr{
    width: 100%;
    height: 1px;
    background-color:  rgb(240, 237, 237);
}
/*navbarrrrrr style////////////////////////////////////////////*/


nav{
    background-color: rgb(25, 25, 79);
  
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
   

    padding: 20px 0px;

    justify-content: space-between;
    color: rgb(240, 237, 237);
    background-color:transparent;
   
   
   
}
.nav-list  ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.nav-list {
    width: 40%;
    display: flex;
  
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.nav .icon{
    display: none;
    font-size: 28px;
}


.nav button{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
  

 
}
a{
    text-decoration: none;
    color:  rgb(240, 237, 237);
}

@media  screen and (max-width: 1200px) and (min-width:992px){
   
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
   

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
 
   

}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }

   

}
@media  screen and (max-width: 600px){

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
       background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
   
    a{ 
        color: #000;
    }



}

/*headerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
.header{
    background-color: rgb(25, 25, 79);
    color: rgb(255, 255, 255);
    padding: 60px 0px;
}
.header-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.content{
    padding: 30px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
.content h2{
    font-size: 38px;
}
.content p{
    color: rgb(229, 224, 224);
    line-height: 26px;
}
.link{
    display: flex;
    column-gap: 16px;
    color: rgb(29, 186, 29);
    align-items: center;
}
.link a{
    color: rgb(29, 186, 29);
    font-weight: 700;
}
video{
    width: 40%;
    border-radius: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .header-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .content{
        width: 100%;
    } 
    video{
        width: 90%;
        margin: auto;
    }



}
/*logosssssssssssssssssssssssssssss*/

.logos{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 70px 0px; */
}
.logo img{
    width: 80%;


}
.logo{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

@media  screen and (max-width: 1200px) and (min-width:992px){
    .logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        margin: auto;
    }
    .logo{
        width: 40%;
        margin: auto;
     
    }
}
@media  screen and (max-width: 992px) and (min-width:786px){
    .logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        margin: auto;
    }
    .logo{
        width: 40%;
        margin: auto;
     
    }

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        margin: auto;
    }
    .logo{
        width: 30%;
        margin: auto;
     
    }
    
}
@media  screen and (max-width: 600px){
    
.logos{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: auto;
}
.logo{
    width: 100%;
    margin: auto;
 
}

}
/*instructionsssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

.instructions{
    width: 80%;
    margin: auto;
    /* padding: 70px 0px 0px; */
}
.instruction-container{
    display: flex;
    justify-content: space-between;
}
.instruction{
    width: 30%;
    display: flex;
    column-gap: 16px;
}
.instruction-text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.instruction-text h4{
    font-size: 22px;
}
.instruction-text p{
    line-height: 26px;
}
.instruction img{
    height: 30px;
    width: 30px;
}

@media  screen and (max-width: 1200px) and (min-width:992px){
    .instruction-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .instruction{
        width: 45%;
        margin: auto;
    }

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .instruction-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .instruction{
        width: 45%;
        margin: auto;
    }


}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .instruction-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .instruction{
        width: 90%;
        margin: auto;
    }


    
}
@media  screen and (max-width: 600px){
    .instruction-container{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .instruction{
        width: 90%;
        margin: auto;
    }

}

/*Track your Progresssssssssssssssssssssssssss*/


.track{
   
    color: rgb(0, 0, 0);
    padding: 60px 0px;
}
.track-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.track-content{
    padding: 80px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    /* justify-content: center; */
}
.track-content h2{
    font-size: 32px;
}
.track-content p{
    color: rgb(165, 160, 160);
    line-height: 26px;
}
.track-link{
    display: flex;
    column-gap: 16px;
    color:rgb(47, 66, 233);
    align-items: center;
}
.track-link a{
    color:rgb(47, 66, 233);
    font-weight: 700;
}
.track img{
    width: 40%;
    border-radius: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .track-content{
        width: 100%;
    } 
    .track img{
        width: 90%;
        margin: auto;
    }



}



/*Understand your vistorsssssssssssssss*/




.understand{
   
    color: rgb(0, 0, 0);
    /* padding: 60px 0px; */
}
.understand-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.understand-content{
    padding: 80px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    /* justify-content: center; */
}
.understand-content h2{
    font-size: 32px;
}
.understand-content p{
    color: rgb(165, 160, 160);
    line-height: 26px;
}
.understand-link{
    display: flex;
    column-gap: 16px;
    color:rgb(47, 66, 233);
    align-items: center;
}
.understand-link a{
    color:rgb(47, 66, 233);
    font-weight: 700;
}
.understand img{
    width: 40%;
    border-radius: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .track-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .understand-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .understand-content{
        width: 100%;
    } 
    .understand img{
        width: 90%;
        margin: auto;
    }



}


/*make your customer happyyyyyyyyyyyyyyyyyyyyyy*/





.make{
   
    color: rgb(0, 0, 0);
    /* padding: 60px 0px; */
}
.make-container{
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 100px;
    justify-content: center;
}
.make-content{
    padding: 80px 0px 0px 0px;
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    /* justify-content: center; */
}
.make-content h2{
    font-size: 32px;
}
.make-content p{
    color: rgb(165, 160, 160);
    line-height: 26px;
}
.make-link{
    display: flex;
    column-gap: 16px;
    color:rgb(47, 66, 233);
    align-items: center;
}
.make-link a{
    color:rgb(47, 66, 233);
    font-weight: 700;
}
.imgs-container{
    width: 40%;
    border-radius: 10px;
    display: flex;
}
.img1{
    width: 95%;
    margin: auto;
    border-radius: 10px;
}
.img2{
    width: 95%;
    margin: auto;
    height: 300px;
    border-radius: 10px;
}
.inner-imgs{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.inner-imgs:nth-child(1){
    margin-top: 30px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }


}
@media  screen and (max-width: 992px) and (min-width:786px){
    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }

   

}
@media  screen and (max-width: 786px) and (min-width:600px) {

    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }

    
}
@media  screen and (max-width: 600px){
    .make-container{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }
    .make-content{
        width: 100%;
    } 
    .imgs-container{
        width: 90%;
        margin: auto;
    }



}












.display-block {
    display: block;
}