
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,300;1,300&family=Roboto&display=swap');
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    background-color:rgb(255, 255, 255);
    
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.hr{
    width: 75%;
    height: 1px;
    margin: auto;
    background-color: rgb(201, 201, 201);
}
.hr1{
    width: 100%;
    height: 1px;

    background-color:  rgb(201, 201, 201);
}
hr{
    width: 1px;
    height: 30px;
    background-color: #000;
   

}
/*navbarrrrrr style////////////////////////////////////////////*/


nav{
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
   

    padding: 20px 0px;

    justify-content: space-between;
    color: rgb(46, 44, 44);
    background-color:transparent;
   
   
   
}
.nav-list  ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.nav-list {
    width: 70%;
    display: flex;
  
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.nav .icon{
    display: none;
    font-size: 28px;
}


.nav button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
  

 
}
a{
    text-decoration: none;
    color:  rgb(22, 21, 21);
    font-weight: 600;
}

@media  screen and (max-width: 1200px) and (min-width:992px){
   
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    hr{
        display: none;
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
      
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
 
   

   

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    hr{
        display: none;
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
 
   

}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    hr{
        display: none;
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }

   

}
@media  screen and (max-width: 600px){

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    hr{
        display: none;
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
       background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
       
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
   
    a{ 
        color: #000;
    }



}


/*ckeck out sectionnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn*/

.checkOut{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.checkOut-header{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;
}
.checkOut-header h2{
    font-size: 40px;

}



.form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    width: 500px;
    padding: 20px 0px;
   
}
label{
    font-size: 16px;
    font-weight: 600;
}
.inner-form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
form{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    
}
form h4{
    font-size: 21px;
}
.input{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
.input input,select{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(238, 236, 236);
    padding: 5px 15px;

}
.radio{
    width: 100%;
    /* height: 50px; */
    border-radius: 10px;
    border: 1px solid rgb(238, 236, 236);
    padding: 10px 15px;
    display: flex;
    align-items: center;
  justify-content: space-between;
}
.credit{
    display: flex;
    align-items: center;
    column-gap: 7px;
}
.imgs-container img{
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
.imgs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.input2{
    display: flex;
   justify-content: space-between;
}
.input2 input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(238, 236, 236);
    padding: 5px 15px;


}
.input img{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.input-inner{
    display: flex;
    flex-direction: column;
    width: 47%;
    row-gap: 13px;
}
form button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
  

 
}
form p{
    font-size: 14px;
}
form span{
    color: rgb(47, 66, 233);
    font-size: 14px;
}




.checkout-container{
    display: flex;
    column-gap: 100px;
    justify-content: center;
    
}










/*oder formmmmmmmmmmmmmm*/

.order-form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    width: 350px;
    padding: 20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.total-price{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 17px;
}
.item{
  width: 100%;
  border: 1px solid rgb(141, 140, 140);
  border-radius: 10px;
  display: flex;
  column-gap: 16px;
  align-items: center;
  padding: 5px 10px ;
  justify-content: space-between ;
}
.item img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.item-text{
    display: flex;
    flex-direction: column;
    width: 70%;
    row-gap: 10px;
    
}
.item-text>p{
    font-size: 18px;
    font-weight: 900;
}
.item-price{
    display: flex;
    justify-content: space-between;
}
.cart-items{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
.cart{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.order-form button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
  

 

}
.order-form>p{

    font-weight: 600;
}
.item i{
    color: rgb(199, 199, 199);
    font-size: 14px;
}
@media  screen and (max-width: 1200px) and (min-width:992px) {
    .checkout-container{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    .order-form{
        width:100%;

        margin: auto;
        height: auto;
    }

    .form{
        width:100%;
     
        margin: auto;
    }
 

}
@media  screen and (max-width: 992px) and (min-width:786px) {

    .checkout-container{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    .order-form{
        width:100%;
        margin: auto;
     
        height: auto;
    }
    .form{
        width:100%;
      

        margin: auto;
    }
 

  
}
@media  screen and (max-width: 786px) and (min-width:600px) {
 
    .checkout-container{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    .order-form{
        width:100%;
        margin: auto;
       
        height: auto;
    }
    .form{
        width:100%;
      
        margin: auto;
    }
 
 

}
@media  screen and (max-width: 600px){
    .checkout-container{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
    .order-form{
        width:100%;
       
        margin: auto;
        height: auto;
    }
    .form{
        width:100%;
        
        margin: auto;
    }
    .item-price{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .item-text>p {
        font-size: 12px;
    }
 
  
}



/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
footer{
    
    color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 33);
    padding: 20px 0px;
    font-size: 12px;
    margin: auto;
  
    width: 100%;
    padding: 70px 0px 0px;




}

.links{

    display: flex;

    width: 75%;
    margin: auto;
    padding-bottom: 70px;
    /* justify-content: center; */

}
.link-list ul{
    list-style-type: none;
    
}
.link-list ul li{
    line-height: 30px;
    font-size: 14px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.link-list li:first-child{

    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    

}
.link-list{
    width: 18%;
}
.link-list ul li i{
    font-size: 16px;

}


@media  screen and (max-width: 1200px) and (min-width:992px) {

}
@media  screen and (max-width: 992px) and (min-width:786px) {
 
    footer .links{
        display: flex;
        flex-direction: row;
     
        flex-wrap: wrap;
        row-gap: 32px;
        /* justify-content: space-between; */
      }
     
      .link-list{
        text-align: center;
        width: 32%;
    
        
       
      
        
      }
}
@media  screen and (max-width: 786px) and (min-width:600px) {
  
  footer .links{
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
  }
 
  .link-list{
    text-align: center;
    width: 45%;

    
   
  
    
  }
 
}
@media  screen and (max-width: 600px){
  
    footer .links{
        display: flex;
        flex-direction: row;
     
        flex-wrap: wrap;
        row-gap: 32px;
        justify-content: space-between;
    
      }
     
      .link-list{
        text-align: center;
        width: 45%;
    
        
       
      
        
      }
     

  
}

/*copy rightssssssssssssssssssssssssssssssssssssssssssssssssss*/
.copy-rights{
    background-color: rgb(17, 17, 33);
    font-size: 13px;
    color: rgb(255, 255, 255);
  
}
.copy-rights-container{
    display: flex;
    
    margin: auto;
    padding: 15px 0px;
    width: 75%;
    justify-content: space-between;
}
.social-icons{
    display: flex;
    column-gap: 10px;
   
    
}
.social-icons i{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.social-icons i:nth-child(2){
    color: blue;
}
.copy-rights-container p{
    display: flex;
    align-items: center;
}
span{
    margin-right: 10px;
    font-size: 20px;
}
@media  screen and (max-width: 1200px) and (min-width:992px) {

}
@media  screen and (max-width: 992px) and (min-width:786px) {

    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
        
    }
    .social-icons{
        justify-content: center;
    }
    .copy-rights{
        font-size: 16px;
    }
 

  
}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
    .copy-rights{
        font-size: 16px;
    }
 
  

}
@media  screen and (max-width: 600px){
  
    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
   
 
  
}








.display-block {
    display: block;
}