@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:ital,wght@0,300;1,300&family=Roboto&display=swap');
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /* row-gap: 70px; */
    background-color:rgb(255, 255, 255);
    
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.hr{
    width: 75%;
    height: 1px;
    margin: auto;
    background-color: rgb(201, 201, 201);
}
.hr1{
    width: 100%;
    height: 1px;

    background-color:  rgb(201, 201, 201);
}
hr{
    width: 1px;
    height: 30px;
    background-color: #000;
   

}
/*navbarrrrrr style////////////////////////////////////////////*/


nav{
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
   

    padding: 20px 0px;

    justify-content: space-between;
    color: rgb(46, 44, 44);
    background-color:transparent;
   
   
   
}
.nav-list  ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
}
.nav-list {
    width: 70%;
    display: flex;
  
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}

.nav .icon{
    display: none;
    font-size: 28px;
}


.nav button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(47, 66, 233);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(240, 237, 237);
    font-size: 16px;
    padding: 5px;
  

 
}
a{
    text-decoration: none;
    color:  rgb(22, 21, 21);
    font-weight: 600;
}

@media  screen and (max-width: 1200px) and (min-width:992px){
   
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    hr{
        display: none;
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
 
   

   

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    hr{
        display: none;
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }
 
   

}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    hr{
        display: none;
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
        background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
    a{ 
        color: #000;
    }

   

}
@media  screen and (max-width: 600px){

    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     

        
        position: relative;
 
    
    }
    hr{
        display: none;
    }
    .nav-list ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 32px;
        margin-bottom: 20px;
        margin-top: 20px;
      
    }
    .nav-list{
        display: none;
        position: absolute;
        
        top: 70px;
        right: 10px;
        border-radius: 5px;
        width: 200px;
        
        
    
       
        z-index: 1;
       background-color: rgb(240, 237, 237);
       

      
    }
 
    .nav .icon{
        display: block;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    
    }
    

    
    .nav-list li{
        font-size: 16px;
    }
   
    a{ 
        color: #000;
    }



}


/*contact ussssssssssssssssssssssssssssssssssssssssssssssssss*/

.contactus-container{
    display: flex;
    column-gap: 100px;
    justify-content: center;
    position: relative;
    top: 400px;

}
.contactus-header{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: -400px;
    
 
}
.contactus-header h2{
    font-size: 40px;
    font-weight: 900;
}
.contactus-header p{
    line-height: 26px;
}
.contact-us{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.form{
    width: 380px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    padding: 30px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 130px;
   
}


form{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    width: 90%;
    margin: auto;
}

.input{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
label{
    font-size: 22px;
    font-size: 700;
}
 form input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(197, 196, 196);
    padding: 5px 20px;
}
.form button{
    width: 90%;
    height: 60px;
    background-color: rgb(55, 55, 190);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin: auto;
}



.info{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 40%;
   margin-top: 30px;
}
.inner-info{
    display: flex;

    column-gap: 16px;

    
}
.inner-info i{
    font-size: 20px;
    color:  rgb(55, 55, 190);
    margin-top: 6px;
}
.inner-info h4{
    font-size: 24px;
    font-weight: 700;
}
.inner-text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media  screen and (max-width: 1200px) and (min-width:992px){
  

}
@media  screen and (max-width: 992px) and (min-width:786px){
    .contactus-header {
        width: 100%;
    }
    .contactus-container{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .form{
        width: 100%;
        margin: auto;
    }

}
@media  screen and (max-width: 786px) and (min-width:600px) {
 
    .contactus-header {
        width: 100%;
    }
    .contactus-container{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .form{
        width: 100%;
        margin: auto;
    }
    

}
@media  screen and (max-width: 600px){
    .contactus-header {
        width: 100%;
    }
    .contactus-container{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 40px;
    }
    .form{
        width: 100%;
        margin: auto;
    }
    .info{
        width: 100%;
    }
}

.background{
    background-image: url(../images/pexels-lara-jameson-8828320.jpg);
    background-size: cover;
    height: 60vh;
}

/*footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
footer{
    
    color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 33);
    padding: 20px 0px;
    font-size: 12px;
    margin: auto;
  
    width: 100%;
    padding: 70px 0px 0px;




}

.links{

    display: flex;

    width: 75%;
    margin: auto;
    padding-bottom: 70px;
    /* justify-content: center; */

}
.link-list ul{
    list-style-type: none;
    
}
.link-list ul li{
    line-height: 30px;
    font-size: 14px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.link-list li:first-child{

    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    

}
.link-list{
    width: 18%;
}
.link-list ul li i{
    font-size: 16px;

}


@media  screen and (max-width: 1200px) and (min-width:992px) {

}
@media  screen and (max-width: 992px) and (min-width:786px) {
 
    footer .links{
        display: flex;
        flex-direction: row;
     
        flex-wrap: wrap;
        row-gap: 32px;
        /* justify-content: space-between; */
      }
     
      .link-list{
        text-align: center;
        width: 32%;
    
        
       
      
        
      }
}
@media  screen and (max-width: 786px) and (min-width:600px) {
  
  footer .links{
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;
    row-gap: 32px;
    justify-content: space-between;
  }
 
  .link-list{
    text-align: center;
    width: 45%;

    
   
  
    
  }
 
}
@media  screen and (max-width: 600px){
  
    footer .links{
        display: flex;
        flex-direction: row;
     
        flex-wrap: wrap;
        row-gap: 32px;
        justify-content: space-between;
    
      }
     
      .link-list{
        text-align: center;
        width: 45%;
    
        
       
      
        
      }
     

  
}

/*copy rightssssssssssssssssssssssssssssssssssssssssssssssssss*/
.copy-rights{
    background-color: rgb(17, 17, 33);
    font-size: 13px;
    color: rgb(255, 255, 255);
  
}
.copy-rights-container{
    display: flex;
    
    margin: auto;
    padding: 15px 0px;
    width: 75%;
    justify-content: space-between;
}
.social-icons{
    display: flex;
    column-gap: 10px;
   
    
}
.social-icons i{
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.social-icons i:nth-child(2){
    color: blue;
}
.copy-rights-container p{
    display: flex;
    align-items: center;
}
span{
    margin-right: 10px;
    font-size: 20px;
}
@media  screen and (max-width: 1200px) and (min-width:992px) {

}
@media  screen and (max-width: 992px) and (min-width:786px) {

    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
        
    }
    .social-icons{
        justify-content: center;
    }
    .copy-rights{
        font-size: 16px;
    }
 

  
}
@media  screen and (max-width: 786px) and (min-width:600px) {
    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
    .copy-rights{
        font-size: 16px;
    }
 
  

}
@media  screen and (max-width: 600px){
  
    .copy-rights-container{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
   
 
  
}








.display-block {
    display: block;
}